.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/data/*
docs/*.Rmd

slides/*.html
slides/*.pdf
tasks/day1/*.html
tasks/day2/*.html
slides/*_files/**
tasks/day1/solution_docs/*.html
tasks/day2/solution_docs/*.html

*.docx
*.pdf